

raw_data/property_data/bronx.xlsx
raw_data/property_data/brooklyn.xlsx
raw_data/property_data/manhattan.xlsx
raw_data/property_data/queens.xlsx
raw_data/property_data/statenisland.xlsx
raw_data/tlc_green/2022-01.parquet
raw_data/tlc_green/2022-03.parquet
raw_data/tlc_green/2022-04.parquet
raw_data/tlc_yellow/2022-01.parquet
raw_data/tlc_yellow/2022-02.parquet
raw_data/tlc_yellow/2022-03.parquet
raw_data/tlc_green/2022-02.parquet
raw_data/tlc_yellow/2022-04.parquet
raw_data/tlc_data/2022-01.parquet
raw_data/tlc_data/2022-02.parquet
raw_data/tlc_data/2022-03.parquet
raw_data/tlc_data/2022-04.parquet
raw_data/hvfhv/2022-01.parquet
raw_data/hvfhv/2022-02.parquet
raw_data/hvfhv/2022-03.parquet
raw_data/hvfhv/2022-04.parquet
clean_data/yellow_categorical/._SUCCESS.crc
clean_data/yellow_categorical/.part-00000-78c82492-a84c-4587-902f-8f3824eb461d-c000.snappy.parquet.crc
clean_data/yellow_categorical/.part-00001-78c82492-a84c-4587-902f-8f3824eb461d-c000.snappy.parquet.crc
clean_data/yellow_categorical/.part-00002-78c82492-a84c-4587-902f-8f3824eb461d-c000.snappy.parquet.crc
clean_data/yellow_categorical/.part-00003-78c82492-a84c-4587-902f-8f3824eb461d-c000.snappy.parquet.crc
clean_data/yellow_categorical/.part-00009-78c82492-a84c-4587-902f-8f3824eb461d-c000.snappy.parquet.crc
clean_data/yellow_categorical/.part-00010-78c82492-a84c-4587-902f-8f3824eb461d-c000.snappy.parquet.crc
clean_data/yellow_categorical/_SUCCESS
clean_data/yellow_categorical/part-00000-78c82492-a84c-4587-902f-8f3824eb461d-c000.snappy.parquet
clean_data/yellow_categorical/part-00001-78c82492-a84c-4587-902f-8f3824eb461d-c000.snappy.parquet
clean_data/yellow_categorical/part-00002-78c82492-a84c-4587-902f-8f3824eb461d-c000.snappy.parquet
clean_data/yellow_categorical/part-00003-78c82492-a84c-4587-902f-8f3824eb461d-c000.snappy.parquet
clean_data/yellow_categorical/part-00009-78c82492-a84c-4587-902f-8f3824eb461d-c000.snappy.parquet
clean_data/yellow_categorical/part-00010-78c82492-a84c-4587-902f-8f3824eb461d-c000.snappy.parquet
clean_data/yellow_numerical/._SUCCESS.crc
clean_data/yellow_numerical/.part-00000-ca7242df-e118-4fe3-852e-b0c0307c5769-c000.snappy.parquet.crc
clean_data/yellow_numerical/.part-00001-ca7242df-e118-4fe3-852e-b0c0307c5769-c000.snappy.parquet.crc
clean_data/yellow_numerical/.part-00002-ca7242df-e118-4fe3-852e-b0c0307c5769-c000.snappy.parquet.crc
clean_data/yellow_numerical/.part-00003-ca7242df-e118-4fe3-852e-b0c0307c5769-c000.snappy.parquet.crc
clean_data/yellow_numerical/.part-00004-ca7242df-e118-4fe3-852e-b0c0307c5769-c000.snappy.parquet.crc
clean_data/yellow_numerical/.part-00005-ca7242df-e118-4fe3-852e-b0c0307c5769-c000.snappy.parquet.crc
clean_data/yellow_numerical/_SUCCESS
clean_data/yellow_numerical/part-00000-ca7242df-e118-4fe3-852e-b0c0307c5769-c000.snappy.parquet
clean_data/yellow_numerical/part-00001-ca7242df-e118-4fe3-852e-b0c0307c5769-c000.snappy.parquet
clean_data/yellow_numerical/part-00002-ca7242df-e118-4fe3-852e-b0c0307c5769-c000.snappy.parquet
clean_data/yellow_numerical/part-00003-ca7242df-e118-4fe3-852e-b0c0307c5769-c000.snappy.parquet
clean_data/yellow_numerical/part-00004-ca7242df-e118-4fe3-852e-b0c0307c5769-c000.snappy.parquet
clean_data/yellow_numerical/part-00005-ca7242df-e118-4fe3-852e-b0c0307c5769-c000.snappy.parquet
raw_data/taxi_zones.dbf
raw_data/taxi_zones.prj
raw_data/taxi_zones.sbn
raw_data/taxi_zones.sbx
raw_data/taxi_zones.shx
raw_data/taxi_zones.zip
bibliography.bib
clean_data/gdf.csv
clean_data/property_clean.parquet
clean_data/yellow_clean.parquet/._SUCCESS.crc
clean_data/yellow_clean.parquet/.part-00000-f5d675ae-e666-402f-b5e4-2543272dd337-c000.snappy.parquet.crc
clean_data/yellow_clean.parquet/.part-00001-f5d675ae-e666-402f-b5e4-2543272dd337-c000.snappy.parquet.crc
clean_data/yellow_clean.parquet/.part-00002-f5d675ae-e666-402f-b5e4-2543272dd337-c000.snappy.parquet.crc
clean_data/yellow_clean.parquet/.part-00003-f5d675ae-e666-402f-b5e4-2543272dd337-c000.snappy.parquet.crc
clean_data/yellow_clean.parquet/.part-00009-f5d675ae-e666-402f-b5e4-2543272dd337-c000.snappy.parquet.crc
clean_data/yellow_clean.parquet/.part-00010-f5d675ae-e666-402f-b5e4-2543272dd337-c000.snappy.parquet.crc
clean_data/yellow_clean.parquet/_SUCCESS
clean_data/yellow_clean.parquet/part-00000-f5d675ae-e666-402f-b5e4-2543272dd337-c000.snappy.parquet
clean_data/yellow_clean.parquet/part-00001-f5d675ae-e666-402f-b5e4-2543272dd337-c000.snappy.parquet
clean_data/yellow_clean.parquet/part-00002-f5d675ae-e666-402f-b5e4-2543272dd337-c000.snappy.parquet
clean_data/yellow_clean.parquet/part-00003-f5d675ae-e666-402f-b5e4-2543272dd337-c000.snappy.parquet
clean_data/yellow_clean.parquet/part-00009-f5d675ae-e666-402f-b5e4-2543272dd337-c000.snappy.parquet
clean_data/yellow_clean.parquet/part-00010-f5d675ae-e666-402f-b5e4-2543272dd337-c000.snappy.parquet
code/pd_cat.csv
figures/cpi.JPG
raw_data/property_sdf.parquet
